In [1]:
import pandas as pd

# Работа с Pandas

1. Загрузите ваш DataFrame в переменную df и выведете на экран первые пять строк

In [3]:
df = pd.read_csv('data/lab_rab_2_googleplaystore.csv') 
print(df.head())

                                                 App        Category  Rating  \
0     Photo Editor & Candy Camera & Grid & ScrapBook  ART_AND_DESIGN     4.1
1                                Coloring book moana  ART_AND_DESIGN     3.9
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ART_AND_DESIGN     4.7
3                              Sketch - Draw & Paint  ART_AND_DESIGN     4.5
4              Pixel Draw - Number Art Coloring Book  ART_AND_DESIGN     4.3

  Reviews  Size     Installs  Type  Price Content Rating  \
0     159   19M      10,000+  Free    0.0       Everyone
1     967   14M     500,000+  Free    0.0       Everyone
2   87510  8.7M   5,000,000+  Free    0.0       Everyone
3  215644   25M  50,000,000+  Free    0.0           Teen
4     967  2.8M     100,000+  Free    0.0       Everyone

                      Genres      Last Updated         Current Ver  \
0               Art & Design   January 7, 2018               1.0.0
1  Art & Design;Pretend Play  January 15, 2018               2.0.0
2               Art & Design    August 1, 2018               1.2.4
3               Art & Design      June 8, 2018  Varies with device
4    Art & Design;Creativity     June 20, 2018                 1.1

    Android Ver
0  4.0.3 and up
1  4.0.3 and up
2  4.0.3 and up
3    4.2 and up
4    4.4 and up

2. Отобразите количество строк и столбцов в DataFrame

In [5]:
df.shape

(10841, 13)

3. Выведете основную информацию о DataFrame методом info(). Проанализируйте есть ли пропуски в столбцах. Напишите вывод о том, какие столбцы содержат пропуски

In [6]:
df.info()
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB
App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

#### column with NaN values:
    - Rating
    - Type
    - Content Rating
    - Current Ver
    - Android Ver

4. Удалите или замените пропуски известными вам методами. (Подсказка: `dropna()` или `fillna()`, выбор того или иного метода должен быть аргументирован).

In [6]:
df['Rating'].fillna(df['Rating'].mean(), inplace=True)
# Если пропуски в других столбцах можно удалить:
df.dropna(subset=['Reviews'], inplace=True)

C:\Users\vasilaki\AppData\Local\Temp\ipykernel_14540\3093668394.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna(df['Rating'].mean(), inplace=True)

5. Проверьте нет ли пропусков после произведенной обработки

In [7]:
print(df.isnull().sum())

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64



    df.isnull(): Этот метод возвращает DataFrame того же размера, что и df, где каждое значение заменено на True, если оно является пропуском (NaN), и на False, если это не так. То есть, для каждого элемента в DataFrame будет указано, является ли он пропущенным.

    .sum(): После того как мы получили DataFrame с булевыми значениями (True/False), мы применяем метод .sum(). Этот метод суммирует значения по каждому столбцу. Поскольку True интерпретируется как 1, а False как 0, итоговая сумма для каждого столбца будет равна количеству пропусков в этом столбце.

    print(...): Наконец, мы выводим на экран количество пропусков для каждого столбца. Это позволяет быстро оценить, остались ли пропуски после обработки данных (например, после замены или удаления).

6. Выведите на экран минимум и максимум из столбца `Price`:

In [8]:
print(f'Минимум Price: {df["Price"].min()}, Максимум Price: {df["Price"].max()}')

Минимум Price: 0.0, Максимум Price: 400.0

7. Выведите на экран медиану и среднее арифметическое столбцов:
 - Rating
 - Reviews

In [10]:
print(df["Reviews"].unique())
df["Reviews"] = pd.to_numeric(df["Reviews"], errors='coerce')
df = df.dropna(subset=["Reviews"])
print(f'Среднее Rating: {df["Rating"].mean()}, Медиана Rating: {df["Rating"].median()}')
print(f'Среднее Reviews: {df["Reviews"].mean()}, Медиана Reviews: {df["Reviews"].median()}')

['159' '967' '87510' ... '603' '1195' '398307']
Среднее Rating: 4.191972387162752, Медиана Rating: 4.2
Среднее Reviews: 444152.89603321033, Медиана Reviews: 2094.0



Проверка данных: Посмотрите на уникальные значения в столбце Reviews, чтобы понять, какие данные там находятся.

print(df["Reviews"].unique())

Очистка данных: Если вы обнаружите, что в столбце Reviews есть нечисловые значения, вы можете удалить или заменить их. Например, вы можете использовать pd.to_numeric() с параметром errors='coerce', чтобы преобразовать нечисловые значения в NaN.

df["Reviews"] = pd.to_numeric(df["Reviews"], errors='coerce')

Удаление NaN: После преобразования вы можете удалить строки с NaN значениями, если это необходимо.

8. Выведите на экран все уникальные значения категориального столбца Genres

In [11]:
print(df['Genres'].unique())

['Art & Design' 'Art & Design;Pretend Play' 'Art & Design;Creativity'
 'Art & Design;Action & Adventure' 'Auto & Vehicles' 'Beauty'
 'Books & Reference' 'Business' 'Comics' 'Comics;Creativity'
 'Communication' 'Dating' 'Education;Education' 'Education'
 'Education;Creativity' 'Education;Music & Video'
 'Education;Action & Adventure' 'Education;Pretend Play'
 'Education;Brain Games' 'Entertainment' 'Entertainment;Music & Video'
 'Entertainment;Brain Games' 'Entertainment;Creativity' 'Events' 'Finance'
 'Food & Drink' 'Health & Fitness' 'House & Home' 'Libraries & Demo'
 'Lifestyle' 'Lifestyle;Pretend Play' 'Adventure;Action & Adventure'
 'Arcade' 'Casual' 'Card' 'Casual;Pretend Play' 'Action' 'Strategy'
 'Puzzle' 'Sports' 'Music' 'Word' 'Racing' 'Casual;Creativity'
 'Casual;Action & Adventure' 'Simulation' 'Adventure' 'Board' 'Trivia'
 'Role Playing' 'Simulation;Education' 'Action;Action & Adventure'
 'Casual;Brain Games' 'Simulation;Action & Adventure'
 'Educational;Creativity' 'Puzzle;Brain Games' 'Educational;Education'
 'Card;Brain Games' 'Educational;Brain Games' 'Educational;Pretend Play'
 'Entertainment;Education' 'Casual;Education' 'Music;Music & Video'
 'Racing;Action & Adventure' 'Arcade;Pretend Play'
 'Role Playing;Action & Adventure' 'Simulation;Pretend Play'
 'Puzzle;Creativity' 'Sports;Action & Adventure'
 'Educational;Action & Adventure' 'Arcade;Action & Adventure'
 'Entertainment;Action & Adventure' 'Puzzle;Action & Adventure'
 'Strategy;Action & Adventure' 'Music & Audio;Music & Video'
 'Health & Fitness;Education' 'Adventure;Education' 'Board;Brain Games'
 'Board;Action & Adventure' 'Board;Pretend Play' 'Casual;Music & Video'
 'Role Playing;Pretend Play' 'Entertainment;Pretend Play'
 'Video Players & Editors;Creativity' 'Card;Action & Adventure' 'Medical'
 'Social' 'Shopping' 'Photography' 'Travel & Local'
 'Travel & Local;Action & Adventure' 'Tools' 'Tools;Education'
 'Personalization' 'Productivity' 'Parenting' 'Parenting;Music & Video'
 'Parenting;Education' 'Parenting;Brain Games' 'Weather'
 'Video Players & Editors' 'Video Players & Editors;Music & Video'
 'News & Magazines' 'Maps & Navigation'
 'Health & Fitness;Action & Adventure' 'Educational' 'Casino'
 'Adventure;Brain Games' 'Trivia;Education' 'Lifestyle;Education'
 'Books & Reference;Creativity' 'Books & Reference;Education'
 'Puzzle;Education' 'Role Playing;Education' 'Role Playing;Brain Games'
 'Strategy;Education' 'Racing;Pretend Play' 'Communication;Creativity'
 'Strategy;Creativity']

9. Сгруппируйте данные по столбцу `Genres` и посчитайте для каждого жанра средний и медианный рейтинг. Представьте результат в виде нового DataFrame,который будет сохранен в переменную `grouped_df`, где одна колонка будет содержать названия жарнов, а две другие буду содержать в себе средний и медианный рейтинги. Напишите краткий вывод.

In [12]:
grouped_df = df.groupby('Genres')['Rating'].agg(['mean', 'median']).reset_index()
grouped_df.columns = ['Genres', 'Average_Rating', 'Median_Rating']
print(grouped_df)

                                    Genres  Average_Rating  Median_Rating
0                                   Action        4.283708            4.3
1                Action;Action & Adventure        4.311765            4.3
2                                Adventure        4.181156            4.3
3             Adventure;Action & Adventure        4.423077            4.5
4                    Adventure;Brain Games        4.600000            4.6
..                                     ...             ...            ...
114                Video Players & Editors        4.075145            4.2
115     Video Players & Editors;Creativity        4.100000            4.1
116  Video Players & Editors;Music & Video        4.000000            4.0
117                                Weather        4.239675            4.2
118                                   Word        4.403219            4.4

[119 rows x 3 columns]

10. Из получившегося датафрейма выведите на экран только те жанры, чей медианный рейтинг больше 4.5. Напишите краткий вывод.

In [13]:
high_median_genres = grouped_df[grouped_df['Median_Rating'] > 4.5]
print(high_median_genres)

                          Genres  Average_Rating  Median_Rating
4          Adventure;Brain Games        4.600000            4.6
11       Art & Design;Creativity        4.400000            4.7
18            Board;Pretend Play        4.800000            4.8
35             Comics;Creativity        4.800000            4.8
55      Entertainment;Creativity        4.533333            4.6
64    Health & Fitness;Education        4.700000            4.7
74           Music;Music & Video        4.533333            4.6
87              Puzzle;Education        4.600000            4.6
105  Strategy;Action & Adventure        4.600000            4.6

11. Выведете кол-во дубликатов в основном DataFrame (df) и удалите их

In [14]:
duplicates_count = df.duplicated().sum()
print(f'Количество дубликатов: {duplicates_count}')
df.drop_duplicates(inplace=True)

Количество дубликатов: 483

12. Посчитатайте какое количество приложений содержится в каждом жанре (value_counts).В получившемся Series выведите на экран 10 строк с наибольшим количеством приложений отсортированных по убыванию.

In [15]:
app_counts = df['Genres'].value_counts()
print(app_counts.head(10))

Genres
Tools              842
Entertainment      588
Education          527
Business           427
Medical            408
Productivity       407
Personalization    388
Lifestyle          372
Communication      366
Sports             364
Name: count, dtype: int64


    Шаг 3: Выявлены столбцы с пропусками, которые требуют обработки.
    Шаг 4: Пропуски были заменены или удалены в зависимости от контекста.
    Шаг 9: Создан новый DataFrame с средними и медианными рейтингами по жанрам.
    Шаг 10: Выведены жанры с медианным рейтингом выше 4.5, что может указывать на высокое качество приложений в этих жанрах.
    Шаг 11: Дубликаты были удалены, что улучшает качество данных.
    Шаг 12: Выведены жанры с наибольшим количеством приложений, что может помочь в анализе популярности жанров.